*{
    padding: 0;
    margin: 0;
}

.header-one{
    height: 80px;
    background-color: #FFC107;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    
}
.header-one a{
    width: 324px;
    height: 84px;
    justify-content: center;
    
}
.header-two{
    height: 40px;
    background-color: #FFA000;
    padding-top: 20px;
    text-align: center; 
    padding-left: 40px; 
    width: 100%;  
}
.header-two a {
    
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-right: 58px;
    
    
}
main {
    padding-bottom: 20px;
}
main h1{
    color: #FFA000;
    font-size: 50px;
    font-weight: 700;
    margin-left: 200px;
    padding-top: 100px;
}
main .section-two{
    display: flex;
    height: 550px;
    justify-content: center;
}
main .section-two div {
    width: 345px;
    height: 342px;
    display: flex;
    margin-left: 80px;
    margin-top: 75px;
    flex-direction: column;
    
}
main .section-two div span{
    font-size: 26px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin-top: 18px;
}
main .section-two div a {
    width: 185px;
    text-decoration: none;
    background-color: #176902;
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    
}






footer{
    height: 90px;
    background-color: #FFC107;
    display: flex;
}
footer a {
    margin-left: 10px;
}
footer span{
    text-decoration: none;
    color: #fff;
    margin-top: 35px;
    font-size: 18px;
    margin-left: 20px;
}
